:root {
    --font: "Helvetica"
}
* {
    margin: 0;
    font-family: var(--font)
}

body {
    background: #FFFFFF;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#content {
    margin-left: 30vw;
}

.section {
    margin-top: 2em;
}

@media only screen and (min-width:768px) {
    #content {
        margin-top: 0px;
    }
    #canvas {
        position: relative;
        height:50vh;
        width:100vw;
    }
}
@media only screen and (max-width:768px) {
    #content {
        margin-left: 5vw;
    }
    #canvas {
        position: relative;
        height: 87vh;
        width: 100vw;
    }
}